/* COLOUR SCHEME

Desc.		High	Light 	Mid 	Dark
Red/grey	#f1404b	#f4f5f9	#dddfe6	#252c41
Blue/grey	#2b90d9	#d9e1e8	#9baec8	#282c37

*/

body {
	background-color: #dddfe6; /*#9baec8*/
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: #f1404b; /* #2b90d9 */
}

a:hover {
	color: #C32B34; /* #257BBA */
}

pre {
	margin: 0 1em 0 1em;
	background-color: #dddfe6; /*#9baec8*/
}

.dbStatus {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 0.1em 1em 0.1em 1em;
}

.container {
	height: 95%;
	margin: 0 auto;
	max-width: 70em;
	min-width: 30em;
	background-color: #f4f5f9; /* #d9e1e8 */
	padding: 0 0.5em 1em 0.5em;
}

.help_container {
	margin: 0 auto;
	max-width: 70em;
	min-width: 30em;
	background-color: #f4f5f9; /* #d9e1e8 */
	padding: 0 0.5em 0 0.5em;
}

.header {
	width: 100%;
	padding: 0 0.5em 0 0.5em;
	margin: 0 0 0 -0.5em;
	height: 2em;
	background-color: #252c41; /* #282c37 */
	color: #f4f5f9; /* #d9e1e8 */
	line-height: 2em;
}

	.header h1 {
		font-size: 1.5em;
		padding-left: 0.5em;
	}

	.header div {
		margin: -2.8em 0 0 0;
		height: 1.6em;
		float: right;
		background-color: #f1404b; /* #2b90d9 */
		color: #252c41; /* #282c37 */
		text-align: center;
		line-height: 1.7em;
		padding: 0 0.3em 0 0.3em;
		border-radius: 3px;
	}

	.nav {
		margin: -3em 0 0 0;
		float: right;
		text-align: center;
	}

		.nav li {
			display: inline;
			list-style-type: none;
			background-color: #f1404b; /* #2b90d9 */
			color: #252c41; /* #282c37 */
			text-align: center;
			line-height: 1.7em;
			margin: 0 0.2em 0 0.2em;
			padding: 0.1em 0.3em 0.1em 0.3em;
			border-radius: 3px;
		}

		.nav li:hover {
			cursor: pointer;
			background-color: #C32B34; /* #257BBA */
		}

		.header a {
			color: inherit;
			text-decoration: none;
		}

.subsection {
	margin: 0 auto;
	background-color: #dddfe6; /*#9baec8*/
	padding: 0 0 0.5em 0;
}

	.subsection table {
		padding: 0.5em 1em 0 1em;
	}

	.subsection p {
		padding: 0 0 0 0.5em;
	}

.scroll {
	/* Scrollable div within a subsection for large sets of data */
	height: 30em;
	overflow-y: scroll;
}
	
.section_heading {
	padding: 0.1em 0.5em 0.1em 0.5em;
	background-color: #252c41; /* #282c37 */
	color: #f4f5f9; /* #d9e1e8 */
	width: 10em;
}

.upload_form {
	float: right;
	margin: 0.5em 1em 0.5em 0;
	padding: 0.25em 0.25em 0.25em 1em;
	background-color: #C5C7CC; /*#EBE9E9*/
}

.task_list {
	width: 100%;
}

	.task_list th {
		text-align: left;
		padding: 0 0 0 0.25em;
		font-weight: normal;
		background-color: #C5C7CC; /*#EBE9E9*/
	}

	.task_list td {
		background-color: #f4f5f9; /* #d9e1e8 */
		padding: 0.2em 0 0.2em 0.25em;
	}

.opt_out td {
	/* Greyed-out table row for opted-out customers */
	color: #dddfe6;
}


.submit_button {
	height: 1.6em;
	margin: 0.1em 0 0.1em 0;
	background-color: #f1404b; /* #2b90d9 */
	color: #252c41; /* #282c37 */
	text-align: center;
	line-height: 1.7em;
	padding: 0 0.3em 0 0.3em;
	border-radius: 3px;
}

	.submit_button:hover {
		cursor: pointer;
		background-color: #C32B34; /* #257BBA */
	}

.cancel_button {
	background-color: #C5C7CC; /*#EBE9E9*/ 
}

	.cancel_button:hover {
		cursor: pointer;
		background-color: #AFB0B4; /*#CCC5C5*/ 
	}

.overlay_message {
	position: fixed;
	bottom: 0;
	left: 10;
	right: 10;
	z-index: 5;
	padding: 0.5em 1em 0.5em 1em;
	color: #FFF;
}

	.good {
		background-color: #0EBFB4; /* #2b90d9 */
	}

	.bad {
		background-color: #f1404b; /* #D46F26 */
	}

.mask {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.create_task_popup {
	background-color: #f4f5f9; /* #d9e1e8 */
	margin: 0 auto;
	margin-top: 10%;
	max-width: 50em;
	min-width: 25em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}


	
